<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbisercic.ort1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.bbisercic.ort1.Ort1Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bbisercic.ort1.activities.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbisercic.ort1.activities.NotesActivity"
            android:label="@string/notes_tite" >
            <intent-filter>
                <action android:name="com.bbisercic.ort1.OPEN_NOTES_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbisercic.ort1.activities.LecturesActivity"
            android:label="@string/lectures_tite" >
            <intent-filter>
                <action android:name="com.bbisercic.ort1.OPEN_LECTURES_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbisercic.ort1.activities.ExercicesActivity"
            android:label="@string/exercices_tite" >
            <intent-filter>
                <action android:name="com.bbisercic.ort1.OPEN_EXERCICES_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbisercic.ort1.activities.QuizFragmentActivity"
            android:label="@string/quiz_tite" >
            <intent-filter>
                <action android:name="com.bbisercic.ort1.OPEN_QUIZ_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbisercic.ort1.activities.CreateOrEditNoteActivity" >
            <intent-filter>
                <action android:name="com.bbisercic.ort1.CREATE_NOTE_ACTION" />
                <action android:name="com.bbisercic.ort1.EDIT_NOTE_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbisercic.ort1.activities.LecturePreviewActivity" >
            <intent-filter>
                <action android:name="com.bbisercic.ort1.LECTURE_PREVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbisercic.ort1.activities.FirstExercicePreviewActivity" >
            <intent-filter>
                <action android:name="com.bbisercic.ort1.FIRST_EXERCICE_PREVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbisercic.ort1.activities.SecondExercicePreviewFragmentActivity" >
            <intent-filter>
                <action android:name="com.bbisercic.ort1.SECOND_EXERCICE_PREVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbisercic.ort1.activities.AboutActivity" >
            <intent-filter>
                <action android:name="com.bbisercic.ort1.ABOUT_APPLICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>